body {
    background-color: #d8d8c0;
}

h1 {
    color: #1693a5;
    font-size: 8rem;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #1693a5;
    font-size: 3rem;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 4%;
}

main {
    background-color: #f0f0d8;
    border: 5px solid #1693a5;
    border-radius: 50px;

    margin-left: 10%;
    margin-right: 10%;
    height: 600px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    column-gap: 1%;
    row-gap: 5%;

    justify-items: center;
    justify-content: space-around;

    align-items: center;
    align-content: center;
}

.itens2 {
    background-color: #f0f0d8;
    color: #000000;
    text-align: center;

    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    width: 80%;
    border: 3px solid #000000;
    border-radius: 25px;

    transition: 1s;
    opacity: 1;
    cursor: pointer;
}

#cont:hover .itens {
    opacity: 0.3;
}

#cont .itens:hover {
    opacity: 1 !important;
    transform: scale(1.05);
    z-index: 1;
}

#item3{
    grid-column: 1/3;
}

#item6{
    grid-column: 1/3;
}