body {
    background-color: #88abc2;
}

main {
    background-color: #d0e0eb;
    padding: 70px;
    margin: 70px;
}

h1 {
    text-align: center;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: #ebf7f8;
}

h2 {
    text-align: center;
    color: #49708a;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
}

h3 {
    text-align: left;
    color: #49708a;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}

p{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

#kratos {
    height: 300px;
    width: 300px;
    float: left;
    padding: 20px;
}

#sec2{
clear: both;
}