body{
    text-align: center;
    background-color: #84bfc3;
}

#titulo{
    font-size: 100px;
    margin: 50px;
    padding: 50px;
    color: #d96153;
    text-shadow: 8px 8px 4px #6d9b9e;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#corpo{
    margin: 50px;
    padding: 50px;
    background-color: #fff5d6;
    font-size: 30px;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 10px 10px 3px #6d9b9e;
    border-radius: 50px;
}

h2{
    text-align: center;
    color: #d96153;
    text-shadow: 2px 2px 2px #aab4a8;
}

h3{
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    color: #d96153;
}

p{
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    color: #000511;
}

*{
    margin: 0px;
}