body{
    background-color: #fcd9e5;
}

#fundo{
    padding: 40px;
    margin: 80px;
    background-color: #ffeaf2;
}

h1{
    margin: 60px;
    text-align: center;
    color: #ffb2cd;
    font-family: "Cal Sans", sans-serif;
    font-size: 200px;
    font-weight: 400;
    font-style: bold;
    text-shadow: 10px 10px 3px #d4cdd0;
}

h2{
    text-align: center;
    color: #f1396d;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-size: 40px;
    font-style: normal;
    text-shadow: 3px 3px 2px #a39299;
}

h3{
    text-align: left;
    color: #f1396d;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-size: 25px;
    font-style: normal;
}

p{
    text-align: left;
    color: #382f32;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    line-height: 25px;
}

#copy{
    margin: 60px;
    text-align: center;
    color: #ffb2cd;
    font-family: "Cal Sans", sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    text-shadow: 2px 2px #d4cdd0;
}